###############
#### xCode ####
###############


## User settings
xcuserdata/

# User State
*.xcuserstate




##########################
# Packages and Libraries #
##########################

/App/Pods
# Reinstall these using cocoapods (for Xcode project) and 